@page
@model OceanicAirlines.Pages.DisplayInformationModel
@{
}

<div class="toast-header">
    <img src="/img/primary.png" style="width: 100px">

    <div class="container-fluid d-flex justify-content-center">
        <div class="fake-button fake-button-pressed">Send Package</div>
    </div>
</div>

<div class="container-fluid d-flex h-100 justify-content-center col-12 col-sm-11 col-md-10 col-lg-9 col-xl-8">
    <div class="row align-self-center w-100">
        <div class="mx-auto w-100">
            <div class="jumbotron">
                <h2>Package Information</h2>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @Model.ErrorMessage
                    </div>
                }
                <form asp-page="/Confirmation" method="post" id="my_form">
                    <fieldset disabled="disabled">
                        <table>
                            <tr>
                                <td><label for="weight">Weight</label></td>
                                <td><input type="text" disabled value="@Model._weight kg" /></td>
                            </tr>
                            <tr>
                                <td><label for="weight">Dimensions</label></td>
                                <td>
                                    <input style="width: 32%; float: left" type="text" disabled value="@Model._height cm tall" />
                                    <input style="width: 32%; float: left" type="text" disabled value="@Model._width cm wide" />
                                    <input style="width: 32%" type="text" disabled value="@Model._depth cm deep" />

                                </td>
                            </tr>
                            <tr>
                                <td><label for="category">Category</label></td>
                                <td><input type="text" disabled value="@Model._categories" /></td>
                            </tr>
                            <tr>
                                <td><label for="from">From</label></td>
                                <td><input type="text" disabled value="@Model._from" /></td>
                            </tr>
                            <tr>
                                <td><label for="category">To</label></td>
                                <td><input type="text" disabled value="@Model._to" /></td>
                            </tr>
                        </table>
                    </fieldset>
                    <br />
                    <h2>Selected route</h2>
                    <table class="table" id="myTable" cellspacing="0">
                        <thead>
                            <tr>
                                @foreach (var property in Model.listofnames)
                                {
                                    <th>@property.Name.Replace("_", " ")</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var property in Model.route.GetType().GetProperties())
                                {
                                    <td>@property.GetValue(Model.route)</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                    @if (Model._categories == "Weapons")
                    {
                        <div style="border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6; padding: 10px; margin: 10px;">
                            <label style="width: 50%" for="confirmweapons">This package requires legal documentation for weapons transportation. Please confirm this package includes proper documents.</label>
                            <input form="my_form" style="transform: scale(2); margin: 10px; padding: 10px;" type="checkbox" name="confirmweapons" id="confirmweapons" required />
                        </div>
                    }
                    <input form="my_form" type="hidden" id="weight" name="weight" value="@Model._weight">
                    <input form="my_form" type="hidden" id="height" name="height" value="@Model._height">
                    <input form="my_form" type="hidden" id="width" name="width" value="@Model._width">
                    <input form="my_form" type="hidden" id="depth" name="depth" value="@Model._depth">
                    <input form="my_form" type="hidden" id="categories" name="categories" value="@Model._categories">
                    <input form="my_form" type="hidden" id="from" name="from" value="@Model._from">
                    <input form="my_form" type="hidden" id="to" name="to" value="@Model._to">
                    <input form="my_form" type="hidden" id="route" name="route" value="@Model._selectedroute">
                    <input form="my_form" type="hidden" id="weaponsconfirmed" name="weaponsconfirmed" value="no">
                    <button form="my_form" type="submit" class="btn btn-primary" style="float: right">Send</button>
                    <script>
                            function weaponCheckmarkCheck() {
                            let thiss = $("#confirmweapons");
                            thiss[0].setCustomValidity( '' );
                            if (thiss.val() != "on")
                                thiss[0].setCustomValidity( 'You must tick off this box.' );
                            else {
                                thiss.attr("disabled", "disabled");
                                $("#weaponsconfirmed").val("yes");
                            }
                        }

                        function allCheck() {
                            weaponCheckmarkCheck();
                        }

                        $(document).ready(function() {
                        document.querySelector('#confirmweapons').addEventListener('change', function(e) {allCheck()});
                        });
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>

