@page
@model OceanicAirlines.Pages.PackageInformationModel
@{
}

<div class="toast-header">
    <img src="/img/primary.png" style="width: 100px">

    <div class="container-fluid d-flex justify-content-center">
        <div class="fake-button fake-button-pressed">Send Package</div>
    </div>
</div>

<div class="container-fluid d-flex h-100 justify-content-center col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6">
    <div class="row align-self-center w-100">
        <div class="mx-auto w-100">
            <div class="jumbotron">
                <h2>Package Information</h2>
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        @Model.ErrorMessage
                    </div>
                }
                <form asp-page="/SelectRoute" method="post" class="was-validated">
                    <div class="form-group">
                        <input style="width: 100%" class="form-control" id="weight" name="weight" type="number" step="any" required placeholder="Weight (kg)" />
                    </div>
                    <div class="form-group">
                        <input style="width: 100%" class="form-control" id="height" name="height" type="number" step="any" required placeholder="Height (cm)" />
                    </div>
                    <div class="form-group">
                        <input style="width: 100%" class="form-control" id="width" name="width" type="number" step="any" required placeholder="Width (cm)" />
                    </div>
                    <div class="form-group">
                        <input style="width: 100%" class="form-control" id="depth" name="depth" type="number" step="any" required placeholder="Depth (cm)" />
                    </div>
                    <div class="form-group">
                        <label for="categories">Category</label>
                        <select style="width: 100%" name="categories" id="categories">
                            <option value="" disable selected hidden>Select Category</option>
                            <option value="a">Cautious Parcels</option>
                            <option value="b">Livestock</option>
                            <option value="c">Other</option>
                            <option value="d">Recorded Delivery</option>
                            <option value="e">Refrigerated Goods</option>
                            <option value="f">Weapons</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="from">From</label>
                        <select style="=width: 100%" name="from" id="from" required class="form-control">
                            @foreach (var city in Model.ListOfCities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="to">To</label>
                        <select style="=width: 100%" name="to" id="to" required class="form-control">
                            @foreach (var city in Model.ListOfCities)
                                {
                                    <option value="@city.Id">@city.Name</option>
                                }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right">Next</button>
                </form>
                <script>
                    $(document).ready(function(){
                        $("#from option:nth-child(1)").attr("selected", "selected");
                        $("#to option:nth-child(2").attr("selected", "selected");
                    });
                    function weightCheck(thiss) {
                        thiss.setCustomValidity( '' );
                        if (thiss.value > 20)
                            thiss.setCustomValidity( 'Weight cannot be larger than 20 kg.' );
                    };
                    function dimensionCheck(thiss) {
                        thiss.setCustomValidity( '' );
                        let weight = $("#weight").val();
                        if (weight >= 5) {
                            if (thiss.value > 200)
                                thiss.setCustomValidity( 'Dimensions cannot be larger than 200 cm for parcels heavier than 5 kg.' );
                        } else if (weight >= 1) {
                            if (thiss.value > 40)
                                thiss.setCustomValidity( 'Dimensions cannot be larger than 40 cm for 1-5 kg parcels.' );
                        } else if (thiss.value > 25)
                            thiss.setCustomValidity( 'Dimensions cannot be larger than 25 cm for parcels lighter than 1 kg.' );
                    };
                    function citiesCheck() {
                        let from = $("#from option:selected");
                        let to = $("#to").find(":selected");
                        from.parent()[0].setCustomValidity( '' );
                        to.parent()[0].setCustomValidity( '' );
                        if ( from.text() == to.text() ) {
                            from.parent()[0].setCustomValidity( 'Origin and destination cannot be the same.' );
                            to.parent()[0].setCustomValidity( 'Origin and destination cannot be the same.' );
                        }
                    }
                    function categoryCheck() {
                        let thiss = $("#categories option:selected");
                        thiss.parent()[0].setCustomValidity( '' );

                        if (thiss.text() == "Select Category")
                            thiss.parent()[0].setCustomValidity( 'You must select a category' );
                    }

                    function allCheck() {
                        weightCheck($("#weight")[0]);
                        dimensionCheck($("#height")[0]);
                        dimensionCheck($("#width")[0]);
                        dimensionCheck($("#depth")[0]);
                        citiesCheck();
                        categoryCheck();
                    }

                    document.querySelector('#weight').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#height').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#width').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#depth').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#from').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#to').addEventListener('change', function(e) {allCheck()});
                    document.querySelector('#categories').addEventListener('change', function(e) {allCheck()});
                </script>
            </div>
        </div>
    </div>
</div>